@media (max-width: 1024px) {
  body {
    font-size: 8px;
  }
  h1 {
    font-size: 4.8rem;
    font-weight: 700;

    transition: all 0.2s ease-out;
  }
  h2 {
    font-size: 2.4rem;
    font-weight: 700;

    transition: all 0.2s ease-out;
  }
  h3 {
    font-size: 1.8rem;
    font-weight: 600;

    transition: all 0.2s ease-out;
  }
  p {
    font-size: 1.4rem;
  }

  /* about-studio  */
  .about-studio {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: var(--color1);
    color: white;
  }

  .about-studio h1 {
    font-size: 2.4rem;
  }
  .about-studio p {
    font-size: 1rem;
  }
  .about-studio .section-desc {
    position: relative;
  }
  .about-studio .section-desc:after {
    width: 80px;
    height: 80px;
    background: var(--color2);
    bottom: -50px;
    right: -100px;
  }

  /* business strategies  */
  .business-strategies {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .business-strategies .text-content h5 {
    letter-spacing: 1px;
    padding-bottom: 1rem;
    font-weight: 700;
  }
  .business-strategies .text-content h2 {
    letter-spacing: 1px;
    padding-bottom: 1rem;
    font-size: 2.4rem;
    font-weight: 800;
  }
  .business-strategies .text-content p {
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.6;
  }




/* //////////// */
.contactus{
    padding-top: 5rem;
    padding-bottom: 3rem;
}
  .block {
    padding-top: 2rem;
    padding-bottom: 2rem;
     
}
.text-block{
     
    display: flex ;
    flex-direction: column;
    gap: 0.5rem;
    background: var(--color1);
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}
  .block-head{
    font-size: 1.2rem  ;
    font-weight: 800;

}
.block-content {
    font-size: 0.8rem;
    font-weight: 400;
    text-align: start;
    line-height: 1.5;

}

 
.block3  {
  
    width: 100%;
    height: 12rem; 
  
    
}

.block3 img {
    width: 100%;
    background-size: cover;
    background-position: center;
    
}
 
.block4  {
    background: var(--color2);    
    color: white;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}
.socialss{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}
.socialss p{
    font-size: 1rem;
}
.contactus .socialss li {
  font-size: 1.2rem;
  padding-left: 1rem;
  transition: all 0.2s ease-out;
}
.contactus .head-text:hover,
.contactus .socialss li:hover {
  color: var(--color1);
}

.block4 h3{
    
    font-weight: 900 !important;
}


.text-block.contacts{
    background: white;
    color: var(--color2);
}




/* josh lou banner */

.banner{
    background: url(../images/splash-water.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-top: 20rem;   
    color: white;
}
.banner h4{
    font-size: 1.4rem;
}
.banner p{
    font-size: 1rem;
}
.banner h1{
    font-size: 3.6rem;
}



/* ////aboutus  */
.aboutus{
    background: var(--color3);
    padding-top: 2rem;
    padding-bottom: 3rem;
    
  }
    
  .aboutus img{
    width: 100%;
    height: auto;
  }
  
  .aboutus .text-block{
    padding-top: 2rem;
    padding-bottom:2rem;
  }
  .aboutus-block-text{
    background: white;
    color: #000;
    font-size: 1.4rem;
  
  } 
  
  .aboutus-block-text p{
     
    font-size:1.2rem;
    line-height: 1.2;
  }
  .aboutus-block-text h3{
    font-weight: 800;
    font-size:2.4rem;
  }
  
  
  .quoted-block h4{
    font-weight:200;
    font-size: 1.6rem;
  
  }
  
  .aboutus .column-no2{
    padding-top: 5rem;
  }



  
/* follow us  */
.followus{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .followus .socials li {
    font-size: 1.3rem;
    padding-left: 1rem;
    transition: all 0.2s ease-out;
  }
  .followus .head-text:hover,
  .followus .socials li:hover {
    color: var(--color1);
  }
  
 
/* banner2  */
 
  
  .block9 p{
    
    font-size: 1.2rem;
  }
 


  
/* footer */
.footer{
    background: var(--color4);
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: white;
  }
   .footer p{
    font-size: 1rem;
   }
  
}

@media (max-width: 768px) {
  body {
    font-size: 8px;
  }
  h1 {
    font-size: 3.6rem;
    font-weight: 700;

    transition: all 0.2s ease-out;
  }

  .hero-content {
    padding-top: 80px !important;
  }

  /* about-studio  */
  .about-studio {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: var(--color1);
    color: white;
  }

  .about-studio h1 {
    font-size: 1.8rem;
  }
  .about-studio p {
    font-size: 0.8rem;
    padding-top: 1.5rem;
  }
  .about-studio .section-desc {
    position: relative;
  }
  .about-studio .section-desc:after {
    width: 50px;
    height: 50px;
    background: var(--color2);
    bottom: -20px;
    right: -100px;
  }

  /* business strategies  */
  .business-strategies {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .business-strategies .text-content h5 {
    letter-spacing: 1px;
    padding-bottom: 1rem;
    font-weight: 700;
  }
  .business-strategies .text-content h2 {
    letter-spacing: 1px;
    padding-bottom: 0.6rem;
    font-size:1.8rem;
    font-weight: 800;
  }
  .business-strategies .text-content p {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.6;
  }


  

/* //////////// */
.contactus{
    padding-top:5rem;
    padding-bottom: 2rem;
}
  .block {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
     
}
.text-block{
     
    display: flex ;
    flex-direction: column;
    gap: 0.2rem;
    background: var(--color1);
    color: white;
    padding-left:0.6rem;
    padding-right: 0.6rem;
}
  .block-head{
    font-size: 0.9rem  ;
    font-weight: 800;

}
.block-content {
    font-size: 0.6rem;
    font-weight: 400;
    text-align: start;
    line-height: 1.4;

}

 
.block3  {
  
    width: 100%;
    height: 8rem; 
  
    
}

.block3 img {
    width: 100%;
    background-size: cover;
    background-position: center;
    display: none;
}
 
.block4  {
    background: var(--color2);    
    color: white;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;

    
}
.socialss{
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  
}
.socialss p{
    font-size:0.8rem;
}
.contactus .socialss li {
  font-size: 1rem;
  padding-left: 0.5rem;
  transition: all 0.2s ease-out;
}
.contactus .head-text:hover,
.contactus .socialss li:hover {
  color: var(--color1);
}

.block4 h3{
    
    font-weight: 900 !important;
}


.text-block.contacts{
    background: white;
    color: var(--color2);
    text-align: start;
}




/* josh lou banner */

.banner{
    background: url(../images/splash-water.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-top: 20rem;   
    color: white;
}
.banner h4{
    font-size: 1.4rem;
    padding-top: 0 !important;
    padding-bottom:0 !important;
}
.banner p{
    font-size: 0.9rem;
}
.banner h1{
    font-size: 2.8rem;
}

 
/* banner2  */
.block10{display: none;}
.block8{display: none;}
.block9{
   align-self: center;
  display: inline-block;
  width:90%;
  margin-left: 1rem;
  padding-top: 2rem;
  padding-left: 2rem;
 }

/* ////aboutus  */
.aboutus{
    background: var(--color3);
    padding-top: 2rem;
    padding-bottom: 3rem;
    
  }
    
  .aboutus img{
    width: 100%;
    height: auto;
  }
  
  .aboutus .text-block{
    padding : 2rem;
    
  }
  .aboutus-block-text{
    background: white;
    color: #000;
     
  } 
  
  .aboutus-block-text p{
     
    font-size:1rem;
    line-height: 1;
  }
  .aboutus-block-text h3{
    font-weight: 800;
    font-size:1.8rem;
  }
  
  
  .quoted-block h4{
    font-weight:200;
    font-size: 1.4rem;
  
  }
  
  .aboutus .column-no2{
    padding-top: 3rem;
  }



  /* follow us  */
.followus{
    padding-top: 2rem;
    padding-bottom: 2rem;
    
  }

  .followus h2{
    font-size: 1.8rem;
  }
  .followus .socials li {
    font-size: 1.3rem;
    /* padding-left: 1rem; */
    transition: all 0.2s ease-out;
  }
  .followus .head-text:hover,
  .followus .socials li:hover {
    color: var(--color1);
  }


  
/* banner2  */
 
.block9 p{
    
    font-size: .9rem;
  }

  /* follow us  */
  .followus{
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  .followus h2{
    font-size: 1.4rem;
  }
.followus img{
    width: 80%;

}
  .followus .socials ul {
    justify-content: center;
  }
  .followus .socials li {
    font-size: 1.3rem;
    /* padding-left: 1rem; */
    transition: all 0.2s ease-out;
  }
  .followus .head-text:hover,
  .followus .socials li:hover {
    color: var(--color1);
  }
   

  .footer{
    background: var(--color4);
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    color: white;
  }
   .footer p{
    font-size: 0.8rem;
   }
}

@media (max-width: 450px) {
  h1 {
    font-size: 2.4rem;
    font-weight: 700;

    transition: all 0.2s ease-out;
  }
  .hero-section {
    height: 100vh;
  }
  .hero-content {
    padding-top: 80px !important;
  }
  .hero-content a {
    font-size: 0.7rem;
  }

  /* about-studio  */

  .about-studio {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: var(--color1);
    color: white;
  }
  .bx {
    position: relative;
  }
  .texts {
    position: absolute;
    padding-right: 5rem;
    bottom: 5rem;
  }
  .about-studio h1 {
    font-size: 2.4rem;
  }
  .about-studio p {
    font-size: 1rem;
    padding-top: 1.5rem;
  }
  .about-studio .section-desc {
    position: relative;
  }
  .about-studio .section-desc:after {
    width: 50px;
    height: 50px;
    background: #ffffff8f;
    bottom: -20px;
    right: -50px;
  }

  /* business strategies  */
  .business-strategies {
    padding-top: 1rem;
    padding-bottom:1rem;
  }
  .business-strategies .text-content h5 {
    letter-spacing: 1px;
    padding-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
  }
  .business-strategies .text-content h2 {
    letter-spacing: 1px;
    padding-bottom: 0.5rem;
    font-size: 1.6rem;
    font-weight: 800;
  }
  .business-strategies .text-content p {
    padding-bottom: 1rem;
    font-size:0.8rem;
    font-weight: 600;
    line-height: 1.2;
  }

  

/* //////////// */
.contactus{
    padding-top:5rem;
    padding-bottom: 2rem;
}
  .block {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right:3rem;
    max-height: fit-content;
     
}
.text-block{
     
    display: flex ;
    flex-direction: column;
    gap: 0.2rem;
    background: var(--color1);
    color: white;
    padding-left: 3rem;
    padding-right:3rem;
     
}
  .block-head{
    font-size: 0.9rem  ;
    font-weight: 800;

}
.block-content {
    font-size: 0.6rem;
    font-weight: 400;
    text-align: start;
    line-height: 1.4;

}
.block3{
    display: none;
}
 
 
 
.block4  {
   
    background: var(--color2);    
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom:1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    
}
.socialss{
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  
}
.socialss p{
    font-size:0.8rem;
}
.contactus .socialss li {
  font-size: 1rem;
  padding-left: 0.1rem;
  transition: all 0.2s ease-out;
}
.contactus .head-text:hover,
.contactus .socialss li:hover {
  color: var(--color1);
}

.block4 h3{
    
    font-weight: 900 !important;
}


.text-block.contacts{
    background: white;
    color: var(--color2);
    text-align: start;
}




/* josh lou banner */

.banner{
    background: url(../images/splash-water.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-top: 5rem;   
    padding-bottom: 5rem;   
    color: white;
    border-image : linear-gradient(#000000b0,#2727275b)  fill 1;
}
.banner-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner h4{
    font-size: 1.4rem;
    padding-top: 0 !important;
    padding-bottom:0 !important;
}
.banner p{
    font-size: 0.9rem;
}
.banner h1{
    font-size: 2.8rem;
}





/* ////aboutus  */
.aboutus{
    background: var(--color3);
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
    
  }
    
  .aboutus img{
    width: 60%;
    height: auto;
  }
  
  .aboutus .text-block{
    padding : 2rem;
    
  }
  .aboutus-block-text{
    background: white;
    color: #000;
    margin-left: 2rem;
    margin-right: 2rem;
     
  } 
  .image-block1{
    padding-top: 3rem;
  }
  .aboutus-block-text p{
     
    font-size:1rem;
    line-height: 1;
  }
  .aboutus-block-text h3{
    font-weight: 800;
    font-size:1.8rem;
  }
  .quoted-block{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
  }
  
  .quoted-block h4{
    font-weight:200;
    font-size: 1.4rem;
  
  }
  


  
  /* follow us  */
.followus{
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  .followus h2{
    font-size: 1.4rem;
  }
.followus img{
    width: 80%;

}
  .followus .socials ul {
    justify-content: center;
  }
  .followus .socials li {
    font-size: 1.3rem;
    /* padding-left: 1rem; */
    transition: all 0.2s ease-out;
  }
  .followus .head-text:hover,
  .followus .socials li:hover {
    color: var(--color1);
  }
   

  
/* banner2  */
 .block10{display: none;}
 .block8{display: none;}
.block9{
    align-self: center;
   display: inline-block;
   width:90%;
   margin-left: 1rem;
   padding-top: 2rem;
   padding-left: 2rem;
  }


  .footer{
    background: var(--color4);
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    color: white;
  }
   .footer p{
    font-size: 0.6rem;
   }


   .search-btn{
    font-size: 1rem;
    padding: 0 !important;
   }
   .navbar-toggler{
    font-size: 1rem;
   }
}
