:root {
  --color1: #1ba098;
  --color2: #051622;
  --color3: #deb992;
  --color4: #333333;
  --icon-color: #111111;
}

:root {
  --primary-color: #fe5f41;
  --primary-color-hovered: #ee5637;
  --text-white: #fff;
  --text-heading: #4d312c;
  --text-paragraph: #94817e;
  --header-bg: #fff4f2;
}
* {
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  font-size: 10px;
}

::-webkit-scrollbar {
  background: white;
  width: 5px;
}

/* ::-webkit-scrollbar-thumb{
    background: var(--primary-color);
} */

:focus,
:hover,
:active {
  outline: 0 !important;
  outline-offset: 0;
}
h1 {
  font-size: 5.2rem;
  font-weight: 700;

  transition: all 0.2s ease-out;
}
h2 {
  font-size: 3.6rem;
  font-weight: 700;

  transition: all 0.2s ease-out;
}
h3 {
  font-size: 2.4rem;
  font-weight: 600;

  transition: all 0.2s ease-out;
}
p {
  font-size: 1.4rem;
}

a,
a:hover {
  text-decoration: none;
}

a:hover,
a.active {
  color: white !important;
}

 
.navigation-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
  --webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navigation-wrap .nav-item {
  padding: 0.25rem 0.24rem;
  font-weight: 600;
  font-size: 16px;
}
.navbar .nav-item.active,
.navbar .nav-item:hover {
  color: var(--color1) !important;
}
.navbar .nav-item:hover a {
  color: var(--color1) !important;
}

.navbar-toggler {
  outline: unset;
  border: unset;
  box-shadow: none;
  color: #051622 !important;
}
.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}

/* herosection  */
.hero-section {
  width: 100%;  
  
  background: url(../images/hero-image.jpg) no-repeat 0 0;
  background-position: center;
  background-size: contain;
  display: grid;
  place-content: center;
}

.hero-content {
  color: white;
  margin-top: auto;
  text-align: center;
  padding-top: 150px !important;
  padding-bottom: 150px !important;
   
}

.hero-content a {
  font-size: 1rem;
  color: white !important;
  border-bottom: 1px solid white;
  padding: 0;
  /* border-radius: 0 !important; */
  outline: none;
  text-decoration: none;
}
.hero-content a:active,
.hero-content a:hover,
.hero-content a {
  outline: 0 !important;
  outline-offset: 0;
 
}
a.readmore-btn:hover{
  color: var(--color1) !important;
  scale: 1.1 !important;
}


/* about-section  */
.about-studio {
  width: 100%;
  height: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: var(--color1);
  color: white;

}


.about-studio h1 {
  border-left: 10px solid white;
  padding-left: 20px;
  margin-top: 3rem;
}
.about-studio p {
  font-weight: 800;
  padding-top: 3rem;
}
.about-studio .section-desc {
  position: relative;
}
.about-studio .section-desc:after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  background: var(--color2);
  bottom: -50px;
  right: -150px;
}

 




/* business strategies  */
.business-strategies{
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.business-strategies .text-content h5 {
  letter-spacing: 1px;
  padding-bottom: 1rem;
  font-weight: 700;
}
.business-strategies .text-content h2 {
  letter-spacing: 1px;
  padding-bottom: 1rem;
  font-size: 3.6rem;
  font-weight: 800;
}
.business-strategies .text-content p {
  padding-bottom: 1rem; 
  font-size: 1.2rem;
  font-weight: 700;
  line-height:1.8;
}



/* //////////////////// */

.contactus{
    background: linear-gradient(white 30% ,var(--color3) 0);
}
.block {
    padding-top: 4rem;
    padding-bottom: 4rem;
     
}
.text-block{
     
    display: flex ;
    flex-direction: column;
    gap: 1rem;
    background: var(--color1);
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
}
  .block-head{
    font-size: 1.8rem  ;
    font-weight: 800;

}
.block-content {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: start;

}

 
.block3  {
    width: 100%;
    height: 20rem;
    margin-bottom: 3rem;
    overflow: hidden;
}

.block3 img {
    width: 100%;
    background-size: contain;
    background-position: center;
    
}
 
.block4  {
    background: var(--color2);    
    color: white;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.socialss{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.contactus .socialss li {
  font-size: 1.8rem;
  padding-left: 1.5rem;
  transition: all 0.2s ease-out;
}
.contactus .head-text:hover,
.contactus .socialss li:hover {
  color: var(--color1);
}

.block4 h3{
    padding-top:2rem;
    font-weight: 900 !important;
}


.text-block.contacts{
    background: white;
    color: var(--color2);
}

 .middle-column{
  transform: translate(0 ,-10rem);
 }


/* josh lou */

.banner{
    background: url(../images/splash-water.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-top: 40rem;
   
    color: white;
}
 


/* ////aboutus  */
.aboutus{
  background: var(--color3);
  padding-top: 2rem;
  padding-bottom: 3rem;
  
}
  
.aboutus img{
  width: 100%;
  height: auto;
}

.aboutus .text-block{
  padding-top: 5rem;
  padding-bottom:5rem;
}
.aboutus-block-text{
  background: white;
  color: #000;

} 

.aboutus-block-text h3{
  font-weight: 800;
  font-size: 3.6rem;
}


.quoted-block h4{
  font-weight:200;
  font-size: 2.4rem;

}

.aboutus .column-no2{
  padding-top: 5rem;
}


/* follow us  */
.followus{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.followus .socials li {
  font-size: 2.8rem;
  padding-left: 1.5rem;
  transition: all 0.2s ease-out;
}
.followus .head-text:hover,
.followus .socials li:hover {
  color: var(--color1);
}

/* banner2  */
.banner2{
  background: var(--color2);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.block9{
  background: var(--color1);
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.block10 img{
  height: 100%;
  width: 100%;
  
}


/* footer */
.footer{
  background: var(--color4);
  padding-top: 3rem;
  padding-bottom: 2rem;
  color: white;
}

.navigation-wrap.scroll-on {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--header-bg);
  width: 100%;
  box-shadow: 0 0.125rem 1.75rem 0 rgb(0, 0, 0, 0.09);
  transition: all 0.2s ease-in-out 0s;
}
